
<div class="contain">


  <div class="slider">
      <h3>Ação</h3>
      <span (mouseover)='scrollEsquerda()' (mouseout)="clearScroll()" class="handle handlePrev active">
        <i class="fa fa-caret-left" aria-hidden="true"></i>
      </span>

      <div id="scroller" class="row">
          <div class="row__inner">
                <div class="gui-card" style="margin-left:100px">
                  <div class="gui-card__media" >
                      <img class="gui-card__img" src="../../../../../assets/img/camiseta-everybody-knows-5858-53915.jpg" alt=""  />
                      <div class="divCart" (click)="addProductInCart('Persiana')" >                         
                          <mat-icon class="cart">shopping_cart</mat-icon>
                        
                      </div>
                  </div>                 
                </div>  
                
                <div class="gui-card" >
                  <div class="gui-card__media" >
                      <img class="gui-card__img" src="../../../../../assets/img/camiseta-everybody-knows-5858-53915.jpg" alt=""  />
                      <div class="divCart" >
                          <mat-icon class="cart"   >shopping_cart</mat-icon>
                      </div>
                  </div>
                </div> 

                <div class="gui-card">
                  <div class="gui-card__media" >
                      <img class="gui-card__img" src="../../../../../assets/img/camiseta-everybody-knows-5858-53915.jpg" alt=""  />
                      <div class="divCart" >
                          <mat-icon class="cart"   >shopping_cart</mat-icon>
                      </div>
                  </div>
                </div> 

                <div class="gui-card" >
                  <div class="gui-card__media" >
                      <img class="gui-card__img" src="../../../../../assets/img/camiseta-everybody-knows-5858-53915.jpg" alt=""  />
                      <div class="divCart" >
                          <mat-icon class="cart"   >shopping_cart</mat-icon>
                      </div>
                  </div>
                </div> 

                <div class="gui-card" >
                  <div class="gui-card__media" >
                      <img class="gui-card__img" src="../../../../../assets/img/camiseta-everybody-knows-5858-53915.jpg" alt=""  />
                      <div class="divCart" >
                          <mat-icon class="cart"   >shopping_cart</mat-icon>
                      </div>
                  </div>
                </div> 

                <div class="gui-card" >
                  <div class="gui-card__media" >
                      <img class="gui-card__img" src="../../../../../assets/img/camiseta-everybody-knows-5858-53915.jpg" alt=""  />
                      <div class="divCart" >
                          <mat-icon class="cart"   >shopping_cart</mat-icon>
                      </div>
                  </div>
                </div> 

                <div class="gui-card" >
                  <div class="gui-card__media" >
                      <img class="gui-card__img" src="../../../../../assets/img/camiseta-everybody-knows-5858-53915.jpg" alt=""  />
                      <div class="divCart" >
                          <mat-icon class="cart"   >shopping_cart</mat-icon>
                      </div>
                  </div>
                </div> 

                <div class="gui-card" >
                  <div class="gui-card__media" >
                      <img class="gui-card__img" src="../../../../../assets/img/camiseta-everybody-knows-5858-53915.jpg" alt=""  />
                      <div class="divCart" >
                          <mat-icon class="cart"   >shopping_cart</mat-icon>
                      </div>
                  </div>
                </div> 

                <div class="gui-card" >
                  <div class="gui-card__media" >
                      <img class="gui-card__img" src="../../../../../assets/img/camiseta-everybody-knows-5858-53915.jpg" alt=""  />
                      <div class="divCart" >
                          <mat-icon class="cart">shopping_cart</mat-icon>
                      </div>
                  </div>
                </div> 
            
        </div>   
      </div>             
        
  <span (mouseover)='scrollDireita()' (mouseout)="clearScroll()"  class="handle handleNext active">
    <i class="fa fa-caret-right" aria-hidden="true"></i>
  </span>
  
</div>            
             
</div>
  
          



<div style="height: 300px"> 
</div>




